doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title YJ_Zoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Soom
        main
            div#myStream
                video#myFace(autoplay, playinline, width="400", height="400")  <!--playinline: 비디오가 모바일 환경에서 전체화면으로 되는 것을 방지-->
                button#mute Mute
                button#camera Turn Camera Off
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")